#nav {
    padding: 5px;
    
    background:#424242;
    text-align: center;
    min-width: 550px;
}

#menu-btn {
    float: left;
}

#searchContainer {
    position: relative;
    display: inline-block;
    
    width: 40%;
    min-width: 270px;
    max-width: 500px;
}

#searchBar {
   display: flex;
}


#search-txt {
    height: 2em;
    padding: 1px 8px;
    flex: 1;
    
    border: 1px solid #424242;
    border-right: none;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 14px;
}

#search-btn {
    margin-top: 0.05em;
    height: 2.3em;
    padding-top: 0.2em;
    
    border: 1px solid #888888;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#search-btn:hover,
#search-btn:focus {
    border: 1px solid white;
}

#searchResults {
    position: absolute;
    /* positioning & width */
    top: 95%;
    left: 0;
    right: 0;

    /* remove after testing */
    height: 100px; 
    background:red;
}

#res {
    width: 10px;
    height: 10px;
    color: blue;
}

#user-control {
    float: right;
}

#sign-in-out {
    margin-left: 5px;
}

input[type="button"] {
    height: 35px;
    background:#424242;
    color: white;

    border-radius: 3px;
    border: none;
    border: 1px solid #424242;
}

input[type="button"]:hover {
    cursor: pointer;
    border: 1px solid #888888;
}

/* when clicked and hovered over */
input[type="button"]:hover:focus {
    cursor: pointer;
    border: 1px solid white;
}

input:focus {
    outline: none !important;
    border: 1px solid white;
}