#searchContainer {
    position: relative;
    display: inline-block;
    
    width: 50%;
    min-width: 250px;
    max-width: 550px;
}

#searchBar {
   display: flex;
}

#search-txt {
    height: 2em;
    padding: 1px 8px;
    flex: 1;
    
    border: 1px solid #424242;
    border-right: none;
    border-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 14px;
}

#search-btn {
    height: 1.28em;
    width: 2em;
    margin-top: 0.02em;
    padding-top: 0.2em;
    
    color:white;
    border: 1px solid #888888;
    border-radius: 3px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#search-btn:hover,
#search-btn:focus {
    border: 1px solid white;
}

